
/* e74c3c*/

body, html, section, div {
    margin:0;
    padding: 0;
}
@font-face {
    font-family: 'helsinkiregular';
    src: url('helsinki-webfont.eot');
    src: url('helsinki-webfont.eot?#iefix') format('embedded-opentype'),
         url('helsinki-webfont.woff') format('woff'),
         url('helsinki-webfont.ttf') format('truetype'),
         url('helsinki-webfont.svg#helsinkiregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

section {
    display: block;
    overflow-x: hidden;
    background-color: #2196F3;
    color:#F5F5F5;
    width: 100%;
    font-family: "Ubuntu Mono", sans-serif;
    font-size: 1.2em;
}
section:first-of-type {
    /*padding-bottom: 200px;*/ /*pour éviter que la section 2 prenne class="actif" au chargement ???*/
}
section:nth-of-type(2n) {
    background-color: #4CAF50;
}
.inner {
    width:95%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10em;
}
figure{
    margin:0 0 1em;
    -webkit-transition:all 1s .5s ease; 
        -moz-transition:all 1s .5s ease; 
            transition: all 1s .5s ease;
}
section figure {
    -webkit-transform: scale(0);
       -moz-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
}
section figure.actif {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
}
img {
    max-width: 100%;
    height: auto;
}
h1 {
    font-family: helsinkiregular,"Fugaz One", cursive;
    font-size: 2em;
    text-shadow: 0 0 5px black;
}
h2 {
    font-size: 1em;
    font-style: italic;
}
ul.caracteristiques {
    display: inline-block;
    text-align: left;
    margin: 0 auto;
    padding-left: 1em;
}
a {
    color:#FBC02D;
    text-decoration: none;
}
a:hover {
    color:black;
    text-decoration: underline;
}
/* em a {
    text-decoration: underline;
} */
aside {
    position: fixed;
    top:10px;
    right:10px;
    z-index: 10;
}
.ombre {
    -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}
.sprite {
    width: 36px;
    height: 36px;
    background-image: url("../images/sprite.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    display: block;
    border-radius: 50%;
}    
.sprite:hover {
    background-position: -36px 0;
}
.icones {
    background-image: url("../images/icones.png");
    background-repeat: no-repeat;
    display: inline-block;
    width: 36px;
    height: 36px;
}
.icones ~ .icones {
    margin-top: 1em;
}
.mail {
    background-position: -36px 0;
}
.competence {
    background-position: 0 0;
}
.outils {
    background-position: -72px 0;
}
nav {
    display:none;
}


/*==============
    Bureaux
===============*/
@media screen and (min-width: 480px) {
    .inner {
        width:80%;
        max-width: 980px;
    }
    nav {
        display:block;
        position:fixed;
        top:35%;
        right:0;
        height: 100px;
    }
    nav ul {
        margin: 0;
        padding: 0;
    }
    nav li {
        list-style: none;
        padding: 10px 23px;
    }
    nav a {
        display: block;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background-color: #FBC02D;
    }
    nav a:hover, nav a.actif {
        background-color: black;
    }
}